# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore build output (for example, if you're using a build folder for compiled code)
dist/

# Ignore environment variables file
.env

# Ignore temporary files created by editors
*.swp
.vscode/

# Ignore IDE configuration files
.idea/

# Ignore Mac system files
.DS_Store

# Ignore Windows system files
Thumbs.db

# Ignore test coverage reports
coverage/

# Ignore compiled TypeScript files
*.tsbuildinfo
